.txt-carousel {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: sans-serif;
    max-width: 99%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: justify;
    margin-top: 10px !important;
    border: rgb(106, 117, 100) solid 1px;
    box-shadow: gray 0.5px 0.5px 10px;
    z-index: 0;
}
.txt-carousel .card{
    justify-content: center;
    height: 150px !important;
    padding-left: 150px;
    padding-right: 150px;
    background-color: white ;
    color:  black;
}

.txt-carousel .card h3{
    color: rgb(106, 117, 100);
}

