.txt-carousel {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: sans-serif;
    padding: 15px;
    text-align: justify;
    padding: 20px;
    margin-top: 30px !important;
    border: rgb(106, 117, 100) solid 1px;
}
.txt-carousel .card{
    justify-content: center;
    height: 200px !important;
    padding-left: 150px;
    padding-right: 150px;
    background-color: white ;
    color:  black;
}

.txt-carousel .card h3{
    color: rgb(106, 117, 100);
}

