.navbar{
    background: rgb(106, 117, 100)    !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
}
.navbar-collapse {
    padding-left: 20px;
    justify-content: end;
    
}

#textNavbar{
    color: white;
    
}
#textNavbar:hover{
    color: rgb(231, 216, 209);
}

#textNavbar img{
    padding-left: 10px;
    width: 260px;
    height: 80px;
    cursor: pointer;
}

.nav-item{
    padding-left: 20px;
}