
.txt-description p{
    font-size: 14px;
    word-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.img-info{
    min-height: 500px;
    
}
.img-info img{
    padding-top: 40px;
    border-radius: 20px;
}

