.txt-info{
    min-height: 400px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img-info{
    min-height: 400px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section {
    border: 2px solid #DDD;
    border-radius: 10px ;
    padding:40px;
}

.txt-description{
    padding: 0 40px;
}