.txt-info{
    min-height: 400px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img-info{
    min-height: 500px;
    
}
.img-info img{
    padding-top: 40px;
}

section {
    border-radius: 10px ;
}

