.hgt {
  height: 100vh;
}

.red{
  background: red;
}

.blue {
  background: blue;
}

.green{
  background: green;
}

.header{
  position: fixed;
}

.carousel{
  margin-top: 10px !important;
}


.carousel-dark .carousel-indicators [data-bs-target] {
  border-radius: 50% !important;
    height: 10px;
    width: 10px;
    border: 3px solid white;
    background: #00000052;
}

.vitrine{
  justify-content: space-between !important;
}

h3{
  font-size: 24px;
  text-align: center;
}
h2{
  padding-left: 15px;
  color: #6A7564 ;
  font-size: 24px;
  font-family: michroma;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: #6A7564  solid 1px;
}